{{#list-keyboard-navigator
    itemSelector=".search-modifier"
    onHitTop=focusOnInput
    onTyping=focusOnInput
    focused=(mut focused)
    onItemSelected=(action "didPressEnterOnNode")
    onItemHighlighted=(action "didHighlightNode")
    items=flatList as |highlightedItem|}}
  {{#each hintList as |section|}}
    {{#if sectionHeaderComponent}}
      {{component sectionHeaderComponent label=section.section}}
    {{else}}
      <h5 class="search-modifier-section">{{section.section}}</h5>
    {{/if}}

    {{#each section.list as |item|}}
      <div {{action "selectItem" item.index}} class="search-modifier {{if (eq item.index currentIndex) "current"}} {{if (eq item.index highlightedItem.index) "highlighted"}}">
        <span class="search-modifier-value">{{item.value}}</span>
        {{#if item.label}}
          <span class="search-modifier-label">{{item.label}}</span>
        {{/if}}
      </div>
    {{/each}}
  {{/each}}
{{/list-keyboard-navigator}}
